#meta li { width: 100%; }

#meta li a { padding: 8px; width: 90%; }

#meta .authors { width: 20%; }

* {box-sizing: border-box;}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Background image used */
.bg-img {
  /* The image used */
  background-image: url("images/f4.jpg");

  /* Control the height of the image */
  min-height: 540px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Position text in the middle of the INDEX page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.cantainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Sign up & Sign in button */
.sign-btn {

  border: 0px;
  background-color: #0000;
  color: white;
  padding: auto;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}
a:link { color: white; border-bottom-style: solid; }

/* sign */
.sign {
  background-color: white;
  border-color: #0000;
  color: black;
}


/* Add styles to the form container */
.regform {
  border-radius: 25px;
  position: absolute;
  right: 0;
  margin: 10px;
  max-width: 40%;
  padding: 16px;
  background-color: #212529;
  font-size: 17px;
  color: #efeff6
}



/* Full-width fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  
  font-size: 17px;
  color: #fff
}


/* Set a style for the submit button */
.btn {
  background-color: #9bcbf2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
}

.btn:hover {
  opacity: 1;
}


/* Bordered form */
form {
  border: 3px solid #fff;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 17px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #7a80b4;
  color: white;
  padding: 10px 10px;
  margin: 0px 0;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  font-size: 17px;
  background-color: red;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
  font-size: 17px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
    font-size: 17px;
  }
}



/* Darker background on mouse-over */
.btn:hover{
  background-color: RoyalBlue;
}
